/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap";

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-2 {
    padding-right: ($spacer * 0.5) !important;
}

.pl-2 {
    padding-left: ($spacer * 0.5) !important;
}

html {
    font-size: 13px;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $light;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;
    border-radius: 0.2rem;
  }

.navbar {
    padding: 0.5rem 1rem;
    background-color: darkcyan;
}

.navbar > .btn {
    margin: 0 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.datetime {
    font-size: 0.8rem;
}
.datetime-md {
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    margin-bottom: 4pt;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    color: $dark;
}

.container, form, .post_block, .post_wraper, .comment-block, .user-block{
    padding: 8pt;
    border-radius: 8pt;
}

.button_to {
    padding: 0;
}

input, textarea{
    border-radius: 5px;
    border: 0px;
}

form {
    background-color: #e4e4e4;
    text-align: center;
}

a.badge.button-link:hover,
a.badge.button-link {
    text-decoration: none;
    background-color: #41b9b7;
    border-color: #409af7;
    color: #fff;
}

.post_block, .user-block {
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #e4e4e4;
}

.comment-block{
    margin-top: 8pt;
    margin-bottom: 8pt;
    margin-left: 8pt;
    margin-right: 8pt;
}

.btn-info {
    color: #fff;
    background-color: #41b9b7;
    border-color: #409af7;
}

.btn-info:hover {
    color: rgb(0, 255, 247);
    background-color: #398de2;
    border-color: #5ca4ec;;
}